<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="InventoryView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="InventoryView.Properties.Settings.InventoryDBConnectionString"
      connectionString="data source=C:\sqlite\DataFile\InventoryDB.sqlite"
      providerName="System.Data.SQLite" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <applicationSettings>
    <InventoryView.Properties.Settings>
      <setting name="AppName" serializeAs="String">
        <value>InventoryApp</value>
      </setting>
    </InventoryView.Properties.Settings>
  </applicationSettings>
</configuration>
